{% extends "base.html" %}

{% block content %}

<div class="container d-flex align-items-center">
    <div class="container text-center">

        <h1 class="display-3"> Stock Checker</h1>
        <!hr>
        <p>
          Choose up to 3 columns to filter. <br> Leave boxes blank to clear filters. <br> Only displays first 100 results.
        </p>
        <form action="" method="post" novalidate>
          <div class="form-inline justify-content-center p-3 ">
            {{ form.csrf_token() }}
            {{ form.column1(class="custom-select", placeholder="Column name") }}
            {{ form.filter1(class="form-control", size=32, placeholder="Filter rows by") }}
          </div>
          <div class="form-inline justify-content-center p-3 ">
            {{ form.column2(class="custom-select", placeholder="Column name") }}
            {{ form.filter2(class="form-control", size=32, placeholder="Filter rows by") }}
          </div>
          <div class="form-inline justify-content-center p-3 ">
            {{ form.column3(class="custom-select", placeholder="Column name") }}
            {{ form.filter3(class="form-control", size=32, placeholder="Filter rows by") }}
          </div>
          <div class="form-inline justify-content-center p-3 ">
            {{ form.submit(class="btn btn-dark") }}
          </div>
        </form>


        {{ res|safe }}

    </div>
  </div>



{% endblock %}